{% extends 'base.html'%}
{% block content %}
{% from 'bootstrap4/form.html' import render_form %}



<body>
    <div class="container">

        <div align="center">
            <h1>Đăng Nhập</h1>
        </div>


        <br /><br />
        {{ render_form(form) }}
    </div>

    <div align="center">
        <a href="{{url_for('auth.forget_password')}}">Quên mật khẩu</a><br />
        <a href="{{url_for('auth.signup')}}">Tạo tài khoản</a><br />
    </div>

    <footer class="bg-dark text-white mt-5">
        <div class="container-fluid p-0">
            <img src="{{ url_for('static', filename='images/footer.png') }}" alt="Footer" class="img-fluid w-100">
        </div>
    </footer>


</body>
{% endblock %}