{% extends 'base.html'%}
{% block content %}
{% from 'bootstrap4/form.html' import render_form %}



<body>
    <div class="container">
        <div align="center">
            <h1>Lấy Lại Mật Khẩu</h1>
        </div>

        <br /><br />
        {{ render_form(form) }}
    </div>
    <footer class="bg-dark text-white mt-5">
        <div class="container-fluid p-0">
            <img src="{{ url_for('static', filename='images/footer.png') }}" alt="Footer" class="img-fluid w-100">
        </div>
    </footer>



</body>
{% endblock %}